.name {
    font-size: 32px;
    background-color: #4aaaa5;
    color: white;
    float:left;
    position:absolute;
    z-index:1;
    padding:18px;
    margin-bottom: 0;


    margin-left: 250px;


    font-family: 'Arial', 'Helvetica Neue', Helvetica sans-serif;
}

.bar {
    background-color: white;
    padding: 10px 250px 0 100%;
    text-align: justify;
    float:right;
    column-count: 3;
    column-rule: 0 solid lightblue;
    font-size:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 0 solid #dddddd;

}
.current {
    margin-top: 0;
    background-color: #4aaaa5;
    color: white;
    padding: 10px;

}

.headshot {
   float: left;
    margin-right: 30px;

}
.project {
    float:left;
    padding: 15px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;

    width: 99%;
    column-count: 2;
    height: 100%;


}
.container {
    background: url("http://magaimg.net/img/5xle.png") repeat;
    position: absolute;
    z-index: -1;
    width: 1460px;
    height: 800px;
    margin-top: 0;


}
.content {
    margin: 103px 250px 0 250px;
    border: 1px inset #dddddd;
    width: 960px;
    background-color: #ffffff;
    z-index:3;
    position: absolute;

}
.content2 {
    margin: 85px 250px 0 250px;
    border: 1px inset #dddddd;
    width: 960px;
    background-color: #ffffff;
    z-index: 3;
    position: relative;
}

.about {
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.bio {
    margin: 15px;
}
.inputs {
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
.contact {
    float:left;
}
.social {
    text-align: center;
    margin-right: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
p {
    text-indent: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
}
footer {
    background-color: #4aaaa5;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top:320px;
}
/*.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;

    attempt at sticky footer failed
}*/
.cfooter {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin-top: 800px;
}
/* double footer :(  */
/*html, body {
    heigh: 100%;
}
footer, .push {
    height: 105px;
    sticky footer attempt again
}*/
p {
    text-align: justify;

    margin: 15px 0 100px 15px;
}